@media ( max-width: 1200px) {

.cabeza{
    margin: 0;
    background: #F0D8FF;
    height: 15%;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    
}
.justNotes{
    width: 15%;
    position: relative;
    top: 30%;
    left: 3%;
   
}
#Cerrar{
    width: 7%;
    height: 10%;
    position: relative;
    top: 25%;
    left: 76%;
    background: none;
    border: none;
    border-radius: 100%;

}
}
@media ( min-width: 1201px)  {

    .cabeza{
        margin: 0;
        background: #F0D8FF;
        height: 15%;
        z-index: 100;
        position: fixed;
        width: 100%;
        height: 120px;
        top: 0;
        
    }
    .justNotes{
        width: 15%;
        position: relative;
        top: 30%;
        left: 3%;
       
    }
    #Cerrar{
        width: 10%;
        height: 13%;
        position: relative;
        top: 25%;
        left: 74%;
        background: none;
        border: none;
        border-radius: 100%;
    
    }
}