@media ( max-width: 1200px) {

#crear{
    width: 7%;
    height: 10%;
    position: fixed;
    bottom: 6%;
    right: 4%;
    background: #7A74F3;
    border: none;
    border-radius: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.añadir{
    width: 50%;
}
.creaUnaNota{
    width: 30%;
    position: absolute;
    top: 32%;
    left: 35%;
}
#contenedor{
    margin-top: 140px;
    width: 86%;
    position: relative;
    left: 7.2%;
    top:18%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
   
    
}

}
@media ( min-width: 1201px)  {
  
    #crear{
        width: 5%;
        height: 10%;
        position: fixed;
        bottom: 6%;
        right: 4%;
        background: #7A74F3;
        border: none;
        border-radius: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #crear:hover{
        background: #928df1;
        cursor: pointer;
    }
    .añadir{
        width: 50%;
    }
    .creaUnaNota{
        width: 30%;
        position: absolute;
        top: 32%;
        left: 35%;
    }
    #contenedor{
        margin-top: 140px;
        width: 86%;
        position: relative;
        left: 7.2%;
        top:18%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
       
        
    }
}